# v0 sandbox internal files
__v0_runtime_loader.js
__v0_devtools.tsx
__v0_jsx-dev-runtime.ts
.snowflake/
.v0-trash/
.vercel/
next.user-config.*

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Environment variables
.env*.local

# Common ignores
.DS_Store

# next.js
/.next/
/out/

# typescript
*.tsbuildinfo
next-env.d.ts

#outside
/api.txt
/data.txt